/*구글 폰트에서 한국 전통의 글꼴을 import 했다.*/
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Yeon+Sung&display=swap');
body {
  font-family: "East Sea Dokdo", sans-serif;
  opacity: 0; /* 초기 상태를 투명하게 설정 */
  animation: fadeIn 1.5s ease forwards; /* 애니메이션을 통해 페이지를 더 동적으로 만든다. */
}

/*이런 키워드를 통해 애니메이션의 이름을 정하고, 자세한 동작을 설계한다.
위의 body에 fadeIn에 대한 animation을 설정함으로서 페이지 전체에 효과를 준다.*/
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}
.titletext,
textarea {
  width: calc(100%);
  padding: 10px;
  margin-top: 5px;
  margin-left:100px;
  box-sizing: border-box;
  border-radius: 10px;
}

.background-image{
  position: absolute; /* 절대 위치 */
  left: 0;
  width: 100%; /* 전체 화면 너비 */
  height: 100%; /* 전체 화면 높이 */
  background-size: cover; /* 배경 이미지가 화면에 꽉 차게 조정 */
  background-position: center; /* 배경 이미지를 가운데로 정렬 */
  z-index: -1; /* 다른 요소보다 뒤에 위치 */

}

.write-post-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }

  .write-post-container h1 {
    font-size:45px;
  }

  .write-post-container label{
    font-size:25px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
  }
  
  .submit-button-container {
    text-align: center; /* 버튼을 가운데 정렬하기 위해 추가 */
  }
  
  .submit-button {
    padding: 10px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border: black 2px solid;
    border-radius: 5px;
    width:50%;
    display: block;

    
  }


  /*hover와 transform을 통해 css를 더 세련되게 만든다.*/
  .submit-button:hover{

    transform: translateY(-5px);

  }